<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Current Weather</title>
</head>
<p style="background-image: url({{image_url}}); background-size: cover;"></p>
{% for key in data %}
  {{ data[key].item }}
{% endfor %}
<body>
    <frameset rows = "10%, 60%, 10%">
        <frame name = "top">
        <img src="{{image_url}}"/>
        </frame>
        <frame name = "main">
            <table>
                    {% for key in data %}
                        <tr>
                            <th width="10px">{{key}}</th>
                            <td width="10px">{{ data[key] }}</td>
                        </tr>
                    {% endfor %}
            </table>
        </frame>
        <frame name = "bottom">
            <input type="button" value="Back!" onclick="history.go(-1)">
            </frame>
    </frameset>
</body>
</html>